@media only screen and (max-width: 1280px) {
.gallery { min-height: 584px;}
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 236px;width: 33%;}
.gallery-block-content {top: 36%;}
.map-content  {    margin: 68px auto 80px;}


}



@media only screen and (max-width: 1200px) {
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 336px;width: 50%;}
.gallery-block-content {top: 40%;}
.map-content  {    margin: 68px auto 80px;}
.gallery { min-height: 630px;}

}

@media only screen and (max-width: 1100px) {
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 307px;width: 50%;}
.gallery-block-content {top: 41%;}



}

@media only screen and (max-width: 1024px) {
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 286px;width: 50%;}
.gallery-block-content {top: 41%;}
.header-content {padding: 0 10px 0;}


}

@media(min-width:768px) and (max-width:991px) {
	.header-content {padding: 0 10px 0;}

	.culinary-content {padding-right: 10px;}
	.culinary-content-right {width: 50%;}
	.about-content {padding: 90px 0 46px 10px;}
	.menu {    height: 580px;}
	.menu-content {padding-left: 10px;}
	.menu-content-left {width: 47%;padding-right: 31px;margin-bottom: 42px;}
.menu-content-right {margin-top: 144px;width: 48%}
.menu-content-right img {width: 100%;max-width: 361px;}
.feedback-form input {width: 98%;}
.feedback-form textarea {width: 98%;}
culinary {height: 599px;}

.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 213px;width: 50%;}
.gallery-block-content {top: 33%;}
/*.gallery-block-content p {font-size: 21px;}
.gallery-block-content span {font-size: 28px;}*/

.about  {min-height: 827px;}
}

@media only screen and (max-width: 767px) {
	#content { width:320px; padding-left:0px; margin:0 auto; position:relative; }
	.flex-caption-text h2 {font-size: 46px;width: 93%;
    margin: 46px auto 0;}
	.flex-caption-text p {    width: 77%;}
	.about-content-left {
    width: 66%;
}
.about-content {padding: 70px 0 130px 10px;}
.about-content h3 {
	margin-bottom: 40px;}
.address-block  {    width: 50%;}
.address-block-edge {    width: 50%;}
.edge {    background: none;}
.culinary {background-position: 57% center;    height: 616px;}
.culinary-content {
    padding: 60px 10px 46px 0;
}
.culinary-content h3 {
    margin-bottom: 36px;
}
.culinary-content-right {
    width: 62%;
}

.menu-content h3 {margin-bottom: 40px;}
.menu-content-left {width: 53%;}
.menu-content h2 {width: 138%;    margin-top: 0px;}
.menu-content {padding-left: 10px;}
.menu-content-right {width: 45%;}
.menu-content-right img{width: 95%;
    margin-top: 99px;}
.menu-content-right {
    margin-top: 14px;
}

.map-address-block p {    width: 85%;
    margin: 0 auto 10px;    line-height: 1.5em;}

.feedback {
    width: 100%;
    height: auto;
    min-height: 841px;
    background-size: cover;
}
.feedback-form-container-left {width: 50%;}
.feedback-form-container-right {width: 50%;     text-align: center;}
.feedback-form input {    width: 98%;margin: 0 auto 32px;
    display: table;    float: left;}
.feedback-form textarea  {width: 98%;    float: right;}
.feedback-form button {
    text-align: center;
    width: 184px;
    float: right;
    display: table;
}
.footer-content {
    padding: 0 4px;
}

.footer-content-address {
    width: 49%;
    height: auto;
    margin: 0;
    padding-left: 4px;
    float: left;
}
.footer-content-address {
    width: 52%;
    height: auto;
    margin: 0;
    padding-left: 4px;
    float: left;
}
.footer-content-address-1 {
    padding-top: 65px;
    float: left;
}
.footer-content-address-2 {
    float: left;
    position: relative;
    margin-top: 22px;
    width: 40%;
}
.footer-content-address-2 img {
    width: 100%;
}
.footer-content-menu {
    width: 100%;
    float: left;
    padding-top: 63px;
    text-align: left;
}
#footer-nav {
    position: relative;
    width: 65%;
    float: left;
    text-transform: uppercase;
    margin-bottom: 45px;
}
#footer-social {
    position: relative;
    width:32%;
    float: left;
    margin: 1px 0 17px;
    text-align: right;
}

.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {height: 213px;width: 50%;}
.gallery-block-content {height: 70%;top: 33%; width: 84%; margin: 0 8% 0 8%;}
.gallery-block-content p {font-size: 21px;}
.gallery-block-content-inner {width: 242px;}
/*.gallery-block-content span {font-size: 28px;} */
.gallery-block-content-price  {font-size: 28px;    width: 114px;}
.gallery-block .left_line {    width: 55px;}
.gallery-block .right_line {    width: 55px;}
.menu-list li {    margin-left: 4.8%;}

.fancy-slider-next,
.fancy-slider-prev {
	display: none !important;
}

}



@media only screen and (max-width: 611px) {
	.about-content-left {
		    width: 88%;
	}
	.about-content {
		padding: 60px 0 130px 10px;
	}
	.about-content p  {width: 70%;}
	.about-content h3  {margin-bottom: 25px;}

	.culinary {background-position: 89% center;height: 505px;}
	.culinary-content {height: auto;    width: 98%;}
	.culinary-content-right {width: 100%;}
.menu  {height: 901px;}
.menu-content {padding: 0 0 46px 0;}
.menu-content h2 {width: 100%;}
.menu-content-left {padding-left: 10px;text-align: left; width: 96%; margin-bottom: 27px;}
.menu-content-right {width: 100%;}
.menu-content-right img{width: auto;    margin: 0 auto 70px; display: table;}

.feedback {
    width: 100%;
    height: auto;
    min-height: 841px;
    background-size: cover;
}
.feedback-content h2 {    font-size: 32px;    margin-top: 55px;    text-align: center;}
.feedback-content h3 { text-align: center;}
.feedback-form-container-left {width: 100%;}
.feedback-form-container-right {width: 100%;     text-align: center;}
.feedback-form input {    width: 100%;margin: 0 auto 32px;
    display: table;float: none;}
.feedback-form textarea  {width: 100%;}
.feedback-form button {
    text-align: center;
    width: 100%;
    float: none;
    display: table;
}

.scrollTop {width: 74px;height: 74px; bottom: 67px; background: url(img/buttonup-sm.png) 0 0 no-repeat;}

.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto {width: 100%; height: 364px;}
.gallery-block-content {top: 41%;}
.gallery-block-content p {font-size: 25px;}
.gallery-block-content span {font-size: 32px;}

.map-address-content {
    max-width: 1000px;
    margin: 0 auto 0;
    padding: 0 0 0;
    float: left;
}
.map-address-block {
    width: 50%;
    height: 256px;
}
.map-address-block span {
    margin: 39px auto 23px;
}
}






@media only screen and (max-width: 480px) {
	.main {text-align: center;}
	.header-content {text-align: center; display: block;}
	.logo {width: 47%; margin-top: 15px; margin-bottom: 23px;}
	.contact-top {
		width: 100%; 
		width: 53%; 
		margin: 42px auto 21px;
		text-align: right;
		}
	#social  {
    display: none;
}
	#social-resp {
		display: block;
    position: relative;
    width: 50%;
    float: right;
    margin: 15px 0 0;
    text-align: right;
}
#social-resp li {
	width: 22px;
    height: 21px;
    list-style: none;
    margin-left: 6px;
    display: inline-block;
}
#social-resp li a{
	width: 22px;
	height: 21px;
	text-decoration: none;
	display: block;
	transition: all 0.2s ease 0s;
}
.call-back-resp {display: block;}
.menu-list {
    margin-right: 6.3%;
}
.menu-list .active {
    line-height: 29px;
}
.menu-list li {
	margin-bottom: 19px;
}
.flex-caption-text h2 {font-size: 36px;}
.flex-caption-text p  {margin: 45px auto 0;
    width: 82%;
    color: #fff;
    font-size: 17px;
    line-height: 1.2em;}
.flex-caption-text {width: 80%;}


h3 {margin-bottom: 27px;}
h2 {font-size: 32px;}
.about {
	background: #ebe6ec;
	    text-align: left;
    height: auto;
	    min-height: 482px;
}
.about-content {
	padding: 50px 0 46px 10px;
	    width: 96%;
}
.about-content-left {width: 98%;}
.about-content h2 {font-size: 32px;}
.about-content h3 {    margin-bottom: 32px;}
.about-content p  {    width: 100%;    margin-bottom: 12px;}
.address-content  {    display: none;}
.culinary {    background-position: -66% center;width: 100%;height: auto;    min-height: 614px;}
.culinary-content{padding: 50px 10px 46px 0;width: 96%;}
.culinary-content-right {    width: 98%;}
.culinary-content h2  {font-size: 32px;}
.culinary-signature  {font-size: 14px !important; background: url(img/signature-marker-sm.png) top right no-repeat;    padding: 30px 84px 0px 0;}

.menu {}
.menu-content {padding: 9px 0 46px 0; width: 100%;}
.menu-content-left {text-align: left; width: 96%; margin-bottom: 27px; padding-left: 10px}
.menu-content-right {width: 100%;}
.menu-content h2 {font-size: 32px;    margin-top: -36px; width: 100%;}
.menu-content h3 {margin-bottom: 30px;}
.menu-content p {    margin-bottom: 12px;}
.menu-content-right img {width: 94%;}

.map-content {margin: 68px auto 48px;}

.guest {    min-height: 578px;background: #000;}
.guest-content h2 {font-size: 32px;margin-top: 65px;}
.guest-form  {width: 98%;    padding: 0 4px;}

.feedback {
    width: 100%;
    height: auto;
    min-height: 841px;
    background-size: cover;
}
.feedback-content h2 {    font-size: 32px;    margin-top: 55px;}
.feedback-form-container-left {width: 100%;}
.feedback-form-container-right {width: 100%;     text-align: center;}
.feedback-form input {    width: 100%;margin: 0 auto 32px;
    display: table;float: none;}
.feedback-form textarea  {width: 100%;    margin-bottom: 33px;}
.feedback-form button {
    text-align: center;
    width: 100%;
    float: none;
    display: table;
}

.footer {    min-height: 580px; background-size: cover;}
.footer-content-address {
    width: 100%;
    float: left;
}
.footer-content-address-1 {
    padding-top: 37px;
    float: none;
    margin-bottom: 54px;
}
.footer-content-menu {
    width: 100%;
    float: left;
    padding-top: 0px;
    text-align: center;
}
#footer-nav {
    position: relative;
    width: 79%;
    float: none;
    text-transform: uppercase;
    margin-bottom: 45px;
    margin: 0 auto;
}
.footer-menu-list li.last {
    background: none;
    margin-left: -12px;
}
.footer-menu-list li {
    list-style: none;
    font-size: 12px;
    font-family: ProximaNovaBold, sans-serif;
    display: inline-block;
    background: url(img/footer-menu-bg.png) top left repeat-y;
}
.footer-content-address-2 {
    float: left;
    position: relative;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 46px;
}
.footer-content-address-2 img {
    width: auto;
}
#footer-social {
    position: relative;
    width: 100%;
    float: left;
    margin: 29px 0 23px;
    text-align: center;
}

.note {
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 16px;
    color: #797979;
    margin-top: 31px;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    width: 100%;
	    margin-bottom: 35px;
}

.gallery-list {height: auto;}
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto img {width: auto;height: 100%;}
.gallery-foto {width: 100%; height: 264px}
.gallery-block-content {top: 37%;}

.mini-logo-resp {
    background: url(img/trassa_logo_mini_passive-resp.png) no-repeat scroll center center;
	    width: 113px;
    height: 21px;
    display: inline-block;
    transition: all 0.2s ease 0s;
    padding-right: 8px;
}
.mini-logo-resp:hover {
    background: url(img/trassa_logo_mini_active-resp.png) no-repeat scroll center center;
	cursor: pointer;
}

.mini-logo-resp a{
    width: 113px;
    height: 21px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease 0s;
}

.hide-show-block {    font-size: 22px;    padding: 13px 0 2px;}

.gallery-block-content-inner  {    width: 230px;}
.gallery-block .left_line  {width: 49px;}
.gallery-block .right_line  {width: 49px;}
}


@media only screen and (max-width: 320px) {
.culinary {    background-position: -62% center;width: 100%;height: auto;    min-height: 648px;}

.menu {margin-bottom: 8px;    height: 880px;}

.gallery-list {height: auto;}
.gallery-list {height: auto;}
.gallery-list-row {height: auto;}
.gallery-foto img  {width: auto;height: 100%;}
.gallery-foto {width: 100%; height: 170px;}
.gallery-block-content {height: 70%;top: 22%; width: 84%; margin: 0 8% 0 8%;}
.gallery-block-content p {font-size: 21px;}
.gallery-block-content span {font-size: 28px;}




}