@font-face {
			font-family: "ProximaNovaRegular";
			src: url("fonts/ProximaNovaRegular.eot");
			src: url("fonts/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
			url("fonts/ProximaNovaRegular.woff") format("woff"),
			url("fonts/ProximaNovaRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "ProximaNovaBold";
			src: url("fonts/ProximaNovaBold.eot");
			src: url("fonts/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
			url("fonts/ProximaNovaBold.woff") format("woff"),
			url("fonts/ProximaNovaBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "ProximaNovaBlack";
			src: url("fonts/ProximaNovaBlack.eot");
			src: url("fonts/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
			url("fonts/ProximaNovaBlack.woff") format("woff"),
			url("fonts/ProximaNovaBlack.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/ProximaNovaLight.eot');
    src: url('fonts/ProximaNovaLight.eot') format('embedded-opentype'),
         url('fonts/ProximaNovaLight.woff2') format('woff2'),
         url('fonts/ProximaNovaLight.woff') format('woff'),
         url('fonts/ProximaNovaLight.ttf') format('truetype'),
         url('fonts/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), 
		url('fonts/opensans.woff2') format('woff2'), 	
		url('fonts/opensans.woff') format('woff'), 
		url('fonts/opensans.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
body {
    font-size: 12px;
    line-height: 19px;
    color: #56534c;
    font-family: 'Open Sans', Arial, sans-serif;
    background: #fff;
    width: 100%;
}

h2 {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 40px;
    margin-top: 0;
    color: #000;
    line-height: 1em;
    letter-spacing: 0.05em;
    margin-bottom: 7px;
}
h3 {
    font-family: "ProximaNovaBold", sans-serif;
    font-size: 12px;
    margin-bottom: 50px;
    color: #fec52e;
    line-height: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.main {
	width:100%;
    margin:0 auto;
}
.header {
	float: left;
	width:100%;
}
.header-content {
	max-width:1000px;
    margin:0 auto;
	text-align: right;
	height: 193px;
	display: flex;
    width: 100%;
    justify-content: space-between;
}
.logo {
	width:24%;
	position: relative;
	float: left;
	margin-top: 30px;
	text-align: left;
}
.logo img{
	/*width:100%;*/
	width: auto;
}
.contact-top {
    float: left;
    width: 76%;
}
.contact-top {
    width: 72%;
	position: relative;
}

.contact-right {
    *float: left;
    *width: 4%;
	position: absolute;
    right: 0;
    bottom: -101px;
    z-index: 100;
}

#social {
	position: relative;
	width:100%;
	float: left;
	margin: 29px 0 23px;
}
#social li {
	width: 22px;
	height: 21px;
	list-style: none;
	margin-left: 20px;
	display: inline-block;
}
#social li a{
	width: 22px;
	height: 21px;
	text-decoration: none;
	display: block;
	transition: all 0.2s ease 0s;
}
#social li.mini-logo {
	width: 138px !important;
	height: 26px !important;
	list-style: none;
	margin-left: 20px;
	display: inline-block;
}
#social li.mini-logo a{
	width: 138px;
	height: 26px;
	text-decoration: none;
	display: block;
	transition: all 0.2s ease 0s;	
}
.mini-logo {
	background: url(img/trassa_logo_mini_passive.png) no-repeat scroll center center;
}
.mini-logo:hover {
	background: url(img/trassa_logo_mini_active.png) no-repeat scroll center center;
}
.social-wk {
	background: url(img/icon-vk.png) no-repeat scroll center center;
}
.social-wk:hover {
	background: url(img/icon-vk-hover.png) no-repeat scroll center center;
}
.social-ok {
	background: url(img/icon-ok.png) no-repeat scroll center center;
}
.social-ok:hover {
	background: url(img/icon-ok-hover.png) no-repeat scroll center center;
}
#social-resp  {
    display: none;
}

#main-nav {
    position: relative;
    width: 100%;
    float: left;
	text-transform: uppercase;
	margin-bottom: 21px;
}
.menu-list li {
	list-style: none;
    font-size: 15px;
    font-family: ProximaNovaRegular, sans-serif;
    display: inline-block;
    margin-left: 6.8%;
    letter-spacing: 0.09em;
    color: #010101;
}
.menu-list li a{
    color: #010101;
	text-decoration: none;
}
.menu-list .active {
    text-decoration: none;
	border-bottom: 3px solid #fec52e;
	line-height: 37px;
}
.call-back  {
    position: relative;
    width: 100%;
    float: left;
	font-size: 14px;
    font-family: ProximaRegular, sans-serif;
	text-transform: uppercase;
	margin-bottom: 25px;
	color: #fec52e;
	letter-spacing: 0.13em;
}
.call-back  a {text-decoration: none;
	color: #fec52e;
}
.call-back-form-container {
    position: absolute;
    width: 224px;
    right: 76px;
    top: 170px;
    /*margin: -12px auto 0;*/
    display: none;
}

.call-back-form-container_open {
    display: block;
}

.more-photo__todown {
    display: inline-block;
}

.more-photo__todown_state_hidden {
    display: none;
}

.more-photo__toup {
    display: none;
}

.more-photo__toup_state_active {
    display: inline-block;
}

.call-back-form-container .call-back-form {
	position: absolute;
    float: left;
    width: 100%;
    height: auto;
    background: rgba(222, 223, 228, 1);
    padding: 27px 38px 44px 38px;
    text-align: right;
    z-index: 150;
}
.call-back-form-container .sent {
    background: rgba(254, 197, 46, 1);
}
.call-back-form-container .error {
    background: rgba(201, 39, 39, 1);
}

.call-back-form .close {
    background: url(img/call-back-close.png) no-repeat scroll center center;
        height: 22px;
    right: 0;
    margin: -12px 14px 0 0;
    width: 22px;
    text-align: right;
    z-index: 1000;
    position: absolute;
}
.call-back-form .close:hover {
    background: url(img/call-back-close-hover.png) no-repeat scroll center center;
}
.call-back-form .form-row input {
    background: rgba(255, 255, 255, 1);
   border: none;
    box-sizing: border-box;
    height: auto;
    padding: 14px 23px 16px;
    /*width: 173px;*/
    width: 100%;
    float: left;
    margin-top: 30px;
    font-size: 16px;
    color: #000;
	font-family: "ProximaNovaRegular", sans-serif;
	    letter-spacing: .1em;
		
}

.call-back-form .form-button button {
    background: #fec52e repeat-x scroll 0 0;
    color: #000;
    display: block;
    font-size: 18px;
    text-align: center;
    /*width: 173px;*/
	width: 100%;
    height: 50px;
    float: left;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
	margin-top: 30px;
}
.sent .form-button button {
    background: #dfa90a repeat-x scroll 0 0;
}
.call-back-form .form-button  button a {
    text-decoration: none;
	    color: #000;
    letter-spacing: 0.01em
}

.slider-top {
	float: left;
	width:100%;
	height:515px;
}
.slider-top-content {
	    width: 100%;
    height: 515px;
    margin:0 auto;
	*background-image: url(img/slide-1.png);
	background-position: center;
    background-size: cover;
}
.main-slider.flexslider {
    /*-webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    transition: all 100ms ease;*/
    margin: 89px auto 0;
    height: 328px;
	width:100%;
}
.main-slider .slides {
    margin: 0 auto;
}
.slides > li {
    position: relative;
	list-style: none;
	    margin: 0;
}
.banner-wrapper {max-width: 1000px;
    height: 100%;
    margin: 0 auto;
	
    position: relative;}
.banner-content  {
    padding-top: 89px;
    margin: 0 auto 0;
    height: 328px;
	width:100%;
}
.banner .slides {
    margin: 0 auto;
}
.banner > li {
    position: relative;
	list-style: none;
	    margin: 0;
}
.flex-caption-text {
    position: relative;
	    display: table;
	margin: 0 auto 0;
    height: 328px;
    width: 88%;
	max-width: 854px;
	text-align: center;
	font-family: "ProximaNovaRegular", sans-serif;
	background: rgba(0, 0, 0, 0.6);
}
.flex-caption-text h2 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 61px;
    margin-top: 46px;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.09em;
}
.flex-caption-text span {
	    display: block;
    width: 172px;
    height: 6px;
    background: #fff;
    margin: 25px auto 0;
}
.flex-caption-text p {
	    margin: 59px auto 0;
    width: 58%;
        color: #fff;
    font-size: 18px;
    line-height: 1.6em;
    text-shadow: 0px 0 2px rgba(0, 0, 0, 0.5);
	letter-spacing: 0.11em;
}

.fancy-slider-arrow {
    position: absolute;
    top: 53%;
    width: 24px;
    height: 55px;
    border: none;
    padding: 0;
    text-indent: -9999px;
    margin-top: -42px;
	    cursor: pointer;
}
.fancy-slider-next {
    background: url(img/flex-next.png) 0 0px no-repeat;
    right: 100px;
	    z-index: 50;
}
.fancy-slider-next:hover {
    background: url(img/flex-next-hover.png) 0 0px no-repeat;
	    
}
.fancy-slider-prev {
    background: url(img/flex-prev.png) 0 0px no-repeat;
	left: 100px;
	 z-index: 50;
}
.fancy-slider-prev:hover {
    background: url(img/flex-prev-hover.png) 0 0px no-repeat;
}



 .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-direction-nav a {
    text-decoration: none;
    display: block;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    overflow: hidden;
    cursor: pointer;
}
.flex-direction-nav a.flex-next:before {
    content: '\f002';
}
.flex-direction-nav a:before {
    font-family: "flexslider-icon";
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.main-slider .flex-direction-nav .flex-prev {
    text-indent: -999em;
    left: 15px!important;
    opacity: 1!important;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    width: 24px;
    height: 55px;
    background: url(/img/flex-prev.png) no-repeat;
    z-index: 101;
}
.main-slider .flex-direction-nav .flex-prev:hover {
    background-position: 0 100%}
.main-slider .flex-direction-nav .flex-next {
    text-align: left;
    background: url(/img/flex-prev-hover.png) no-repeat;
}
.main-slider .flex-direction-nav .flex-next {
    text-indent: -999em;
    text-align: left;
    right: 15px!important;
    opacity: 1!important;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    width: 18px;
    height: 23px;
    margin-top: -30px;
    background: url(/img/flex-next.png) no-repeat;
    z-index: 101;
}
.main-slider .flex-direction-nav .flex-next:hover {
    background: url(/img/flex-next-hover.png) no-repeat;}


.about {
	float: left;
	width:100%;
	min-height:715px;
	background-image: url(img/about-bg.jpg);
    background-position: center;
    background-size: cover;
}
.about-content {
	max-width:1000px;
    margin:0 auto;
	padding: 90px 0 46px;
}
.about-content-left {
	width:52%;
}
.about-content h2 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 40px;
	margin-top: 0px;
	margin-bottom: 7px;
    color: #000;
    line-height: 1em;
    letter-spacing: 0.05em;
}
.about-content h3 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
	margin-bottom: 50px;
    color: #fec52e;
    line-height: 1em;
    letter-spacing: 0.05em;
	text-transform: uppercase;
}
.about-content p {
        font-size: 12px;
    margin-bottom: 1px;
    line-height: 1.6em;
    letter-spacing: 0.09em;
	    margin-bottom: 20px;
}

	
.address {
	float: left;
	width:100%;
	height:auto;
	padding-top: 94px;
}
.address-content {
	width:100%;
	max-width: 1000px;
    margin: 0 auto 24px;
    padding: 0 0 62px;
}
.address-block {
    width: 25%;
	height: auto;
	    min-height: 195px;
    margin: 0 auto 103px;
    background: url(img/address-divider.png) top right no-repeat;
	    text-align: center;
	    float: left;
}
.address-block span {
       display: block;
    margin: 0px auto 39px;
}
.address-block p {
    font-size: 12px;
    line-height: 2.4em;
	font-family: "ProximaNovaRegular", sans-serif;
}
.address-block a {
     text-decoration: none;
    color: inherit;
}
.address-block-edge {
    width: 25%;
	height: auto;
    min-height: 195px;
    margin: 0 auto 103px;
	    text-align: center;
		    float: left;
}
.address-block-edge span {
        display: block;
    margin: 0px auto 39px;
}
.address-block-edge p {
    font-size: 12px;
    line-height: 2.4em;
	font-family: "ProximaNovaRegular", sans-serif;
}
.address-block-edge a {
     text-decoration: none;
    color: inherit;
}

.culinary {
	float: left;
	width:100%;
	height:711px;
	background-image: url(img/culinary-bg.jpg);
    background-position: center;
    background-size: cover;
}
.culinary-content {
	max-width:1000px;
    margin:0 auto;
	padding: 83px 0 46px;
}
.culinary-content-right {
	width:50%;
	float: right;
	    text-align: right;
}
.culinary-content h2 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 40px;
	margin-top: 7px;
	margin-bottom: 12px;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.05em;
}
.culinary-content h3 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
	margin-bottom: 50px;
    color: #fec52e;
    line-height: 1em;
    letter-spacing: 0.05em;
	text-transform: uppercase;
}
.culinary-content p {
        font-size: 12px;
    margin-bottom: 1px;
    line-height: 1.7em;
    letter-spacing: 0.09em;
	color: #fff;
	    text-shadow: 0px 0 30px rgba(0, 0, 0, 1)
}
.culinary-signature {
    font-size: 16px !important;
    line-height: 1.45em !important;
    letter-spacing: 0.09em;
	font-family: "ProximaNovaBold", sans-serif;
	background: url(img/povar-marker.png) top right no-repeat;
	    padding: 39px 102px 0px 0;
    margin-top: 18px;
}


.menu {
	float: left;
	width:100%;
	height: auto;
	height: 500px;
	padding-top: 94px;
}
.menu-content {
	max-width:1000px;
    margin:0 auto;
	padding: 0 0 46px;
}
.menu-content-left {
	width:52%;
	float: left;
}
.menu-content-right {
	width:47%;
	float: left;
	    text-align: right;
}
.menu-content h2 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 40px;
	margin-top: 0;
    color: #000;
    line-height: 1em;
    letter-spacing: 0.00em;
	margin-bottom: 10px;
}
.menu-content h3 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 16px;
	margin-bottom: 50px;
    color: #fec52e;
    line-height: 1em;
    letter-spacing: 0.05em;
	text-transform: uppercase;
}
.menu-content p {
        font-size: 12px;
    margin-bottom: 22px;
    line-height: 1.7em;
    letter-spacing: 0.09em;
}


.gallery {
	float: left;
	width:100%;
	height: auto;
	min-height: 838px;
}
.gallery-content {
/*    max-width: 1000px;
    margin: 43px auto 0; */
    padding: 0 0 46px;
    text-align: center;
}
.gallery-list {
    width: 100%;
    height: 728px;
	margin-bottom: 2px;
}
.gallery-list-row {
    width: 100%;
        height: 50%;
    float: left;
    display: block;
}
.gallery-foto {
	background-image: url(img/gallery/1.png);
    background-size: cover;
	height: 364px;
    width: 33%;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-right: 1px solid #fff;
    margin-bottom: 1px;
	    overflow: hidden;
}
.gallery-foto img {
	width: auto;
    height: auto;
}
/*.gallery-foto-one {
    background: url(img/gallery/1.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-two {
    background: url(img/gallery/2.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-three {
    background: url(img/gallery/3.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-four {
    background: url(img/gallery/4.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-five {
    background: url(img/gallery/5.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-six {
    
    background: url(img/gallery/6.png) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-seven {
    
    background: url(img/gallery/7.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-foto-eight {
    
    background: url(img/gallery/8.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
/* ---------------------------------------------------------------------------- */
.dop-foto-one {
    background: url(img/dop-foto/1.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-two {
    background: url(img/dop-foto/2.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-three {
    background: url(img/dop-foto/3.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-four {
    background: url(img/dop-foto/4.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-five {
    background: url(img/dop-foto/5.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-six {
    background: url(img/dop-foto/6.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-seven {
    background: url(img/dop-foto/7.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.dop-foto-eight {
    background: url(img/dop-foto/8.jpg) center center no-repeat;
    border-right: 1px solid #fff;
    background-size: cover;
}
.gallery-block{
	width: 100%;
	height: 100%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(0,0,0, 0.6);
	transition: all .3s ease;
    display:none;
	margin: 0 auto;
}

.gallery-foto:hover .gallery-block{
    display:block;
}
.gallery-block-content{
	display: table;
    height: 54%;
    top: 45%;
    bottom: 0;
    width: 94%;
    left: 0;
    position: relative;
    vertical-align: middle;
    margin: 0 3% 0 3%;
    text-align: center;
}
.gallery-block-content p {
	color: #fff;
	font-size: 25px;
	display:block;
	font-family: "ProximaNovaBold", sans-serif;
	    line-height: 25px;
}
.gallery-block-content span {
	color: #fff;
    display: block;
    font-size: 32px;
    margin-top: 22px;
    font-family: "ProximaNovaBold", sans-serif;
}
.gallery-block-content-price {
	    color: #fff;
    display: block;
    font-size: 32px;
    margin: 22px 8px 0 8px;
    font-family: "ProximaNovaBold", sans-serif;
    float: left;
	width: 129px;
}
.gallery-block-content-inner {
	margin: 0 auto;
    width: auto;
    width: 284px;
}
.left_line{
    height:2px;
    width:69px;
    background:url(img/line.jpg) repeat-x;
    /*position:absolute;*/
        margin-top: 31px;
	    float: left;
}
.right_line{
    height:2px;
    width:68px;
    background:url(img/line.jpg) repeat-x;
    /*position:absolute;*/
        margin-top: 31px;
	    float: left;
}


.dop-foto-text {color: #000;
    display: block;
    font-size: 24px;margin-top: 18px;
	    font-family: "ProximaNovaBold", sans-serif;}
.dop-foto-text a{    text-decoration: none;
    border-bottom: 2px solid #000;
    line-height: 15px;}
	
.dop-foto-img {
	position: relative;
    margin-top: 30px;
    float: left;
    width: 100%;
	
}
.dop-foto-img a{    text-decoration: none;
    width: 100%;
    height: 100%;
}
/*
#content {
	display: none;
}
#hideshow {
	background: transparent;
	border: 0;
}
*/	

.hide-show-block {
	    background: transparent;
    border: 0;
    margin: 0 auto;
    text-decoration: none;
    border-bottom: 2px solid #000;
        padding: 17px 0 5px;
		cursor: pointer;
}/*
.dop-foto-img {
	padding-top: 10px;
}*/
.block {
            display: none;
        }

.map {
	float: left;
	width:100%;
	height:auto;
}
.map-content {
	max-width: 1000px;
    margin: 68px auto 80px;
    padding: 0;
	    text-align: center;
}
.map-img {
	float: left;
	width:100%;
	height:443px;
	background: url(img/map-bg.jpg) top center no-repeat;
}
.map-address-content {
	max-width: 1000px;
    margin: 0 auto 24px;
    padding: 0 0 62px;
}
.map-address-block {
    width: 25%;
        height: 370px;
    min-height: 195px;
    margin: 0 auto;
    text-align: center;
    float: left;
	/*cursor: pointer;*/
	display: block;
    position: relative;
}
.map-address-block:hover {
	background: #dcdbdb;
}
/*.map-address-block-hover {
	width: 100%;
	height: 100%;
    position:absolute;
    background:rgba(0,0,0, 0.3);
	transition: all .3s ease;
	display: none;
}*/
.map-address-block  a{
        text-decoration: none;
    color: inherit;
}
.map-address-block:hover .map-address-block-hover {
    display:block;
}
.map-address-block span {
       display: block;
    margin: 90px auto 39px;
}
.map-address-block span img:hover{
       display: block;
    margin: 90px auto 39px;
}
.map-address-block p {
    font-size: 12px;
    line-height: 2.4em;
	font-family: "ProximaNovaRegular", sans-serif;
}


.guest {
	float: left;
	width:100%;
	height:auto;
	min-height:578px;
	background: url(img/guest-bg.jpg) top center no-repeat;
	    background-size: cover;
}
.guest-content {
	max-width: 1000px;
    margin: 0 auto 80px;
    padding: 0 10px 0;
	text-align: center;
			
}
.guest-content h2{
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 54px;
    margin-top: 90px;
    color: #fec52e;
    line-height: 1em;
    letter-spacing: 0.05em;
    margin-bottom: 17px;		
	text-transform: uppercase;
}
.guest-content p{
	font-family: "ProximaNovaRegular", sans-serif;
	    font-size: 14px;
		color: #fff;
    line-height: 1.8em;
    letter-spacing: 0.09em;	
}

.guest-form {
	width: 325px;
	height:52px;
margin: 44px auto 80px; 
}
.guest-form .guest-form-row  input {
    background: #fff;
	background-image: url(img/guest-form-icon.png);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
   background-position: 93%;
    border: none;
    box-sizing: border-box;
    height: auto;
    padding: 14px 23px 16px;
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    font-family: "ProximaNovaRegular", sans-serif;
    letter-spacing: .1em;
}
.email-form-error  input {
	background-image: url(img/guest-form-icon-error.png) !important; 
}
.email-form-sent  input {
	background-image: url(img/guest-form-icon-sent.png) !important; 
}
.note {
	
	    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 16px;
    color: #797979;
    margin: 11px 0 35px;
    float: left;
    text-align: center;
    width: 100%;
}
.counter {
        margin: 0 auto;
    width: 100%;
    text-align: center;
    height: auto;
}
.counter-in {
        margin: 0 auto;
    width: 100%;
    display: table;
    position: relative;
}
.counter-content {
   width: 207px;
    text-align: center;
    margin-bottom: 30px;
        display: inline-block;
}
.counter-round {
        height: 121px;
    width: 121px;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 50%;
    padding: 0;
    border: 2px solid #fec83a;
    margin: 0 auto;
}
.counter-circle-in {
        display: inline-block;
    position: relative;
    width: 91px;
    height: 62px;
	margin: 0 auto;
    padding: 30px 0;
}
.counter-round p{
	font-family: "ProximaNovaRegular", sans-serif;
    font-size: 35px;
    margin-bottom: 7px;
    color: #fff;
	line-height: 1em;
    /*letter-spacing: 0.05em;*/
}
.counter-round span{
	    display: block;
    font-family: "ProximaNovaRegular", sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.07em;
	    margin-top: -14px;
}

.feedback {
	float: left;
	width:100%;
	height: auto;
	min-height: 556px;
	background: url(img/feedback-bg.jpg) top center no-repeat;
}
.feedback-content {
	max-width:1000px;
    margin:0 auto;
	padding: 0 10px 0;
}
.feedback-content h2 {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 51px;
	margin-top: 0;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.03em;
	margin-bottom: 7px;
	margin-top: 90px;
}
.feedback-content h3 {
    font-size: 15px;
	margin-bottom: 53px;
	letter-spacing: 0.09em;
}
.feedback-form-container   {
    width: 100%;
}
.feedback-form-container-left {
	width:50%;
	float: left;
}
.feedback-form-container-right {
	width:50%;
	float: right;
	    text-align: right;
}
.feedback-form-container.feedback-form {
    float: left;
    width: 100%;
    height: auto;
}
.feedback-form-button {width: 100%;float: left;}

.feedback-form input {
    background: rgba(255, 255, 255, 1);
    border: none;
	    border-radius: 3px;
    box-sizing: border-box;
    height: auto;
    padding: 15px 24px 17px;
    width: 483px;
    float: left;
    margin-bottom: 32px;
    font-size: 17px;
    color: #000;
    font-family: "ProximaNovaRegular", sans-serif;
    letter-spacing: .1em;
}
.feedback-form textarea {
    width: 483px;
    min-height: 138px;
    margin-bottom: 27px;
	font-size: 17px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 15px 24px 17px;
    border: none;
	    border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
	    resize: inherit;
}
.feedback-form  button {
    background: #fbc524 repeat-x scroll 0 0;
    color: #000;
    display: block;
    font-size: 18px;
    text-align: center;
    width: 184px;
    height: 53px;
    float: right;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
	    margin-bottom: 24px;
}
.feedback-form button a {
    text-decoration: none;
    color: #000;
    letter-spacing: 0.01em;
}
.feedback-form-container-right .feedback-form-sent {
	font-size: 13px;
    letter-spacing: 0.05em;
	color: #fff;
}
.feedback-form-container-right .feedback-form-error {
	font-size: 13px;
    letter-spacing: 0.05em;
	color: #fff;
}

.footer {
	float: left;
	width:100%;
	height:auto;
	min-height:290px;
	background: url(img/footer-bg.jpg) top center no-repeat;
	    background-size: cover;
}
.footer-content {
	max-width: 1000px;
    margin: 0 auto 80px;
    padding: 0 10px;
}
.footer-content-address {
    width: 29%;
    height: auto;
    margin: 0;
    float: left;
}
.footer-content-menu {
    width: 43%;
    float: left;
	padding-top: 84px;
	    text-align: right;
	}
.white-title {
	font-family: "ProximaNovaBold", sans-serif;
    font-size: 12px;
    margin-bottom: 8px;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-top: 25px;
    display: block;}
.footer p {
	font-size: 13px;
    color: #000;
    line-height: 1.2em;
    font-family: "ProximaNovaRegular", sans-serif;
}
.footer-content-address-1  {
	    padding-top: 65px;
    float: left;
}
.footer-content-address-1  a{
	text-decoration: none;
    color: #000;
}
.footer-content-address-1 p {
    margin-bottom: 5px;
}
.footer-content-address-2 {
	    float: left;
    position: relative;
    margin-top: -75px;
	    width: 28%;
		
}

#footer-nav{
    position: relative;
    width: 100%;
    float: left;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.footer-menu-list ul:last-child {background: none}
.footer-menu-list li {
   list-style: none;
    font-size: 12px;
    font-family: ProximaNovaBold, sans-serif;
    display: inline-block;
    margin-left: 2px;
    letter-spacing: 0.07em;
    line-height: 0.8em;
    color: #010101;
    padding-left: 7px;
    height: 8px;
    background: url(img/footer-menu-bg.png) top left repeat-y;
}
.footer-menu-list li.last {
    background: none;
}
.footer-menu-list li a{
	text-decoration: none;
    color: #000;
}
#footer-social {
    position: relative;
    width: 100%;
    float: left;
    margin: 29px 0 23px;
}
#footer-social li {
    width: 20px;
    height: 18px;
    list-style: none;
    margin-left: 15px;
    display: inline-block;
}
.footer-social-wk {
    background: url(img/footer-icon-vk.png) no-repeat scroll center center;
}
.footer-social-wk:hover {
	background: url(img/footer-icon-vk-hover.png) no-repeat scroll center center;
}
.footer-social-ok {
	background: url(img/footer-icon-ok.png) no-repeat scroll center center;
}
.footer-social-ok:hover {
	background: url(img/footer-icon-ok-hover.png) no-repeat scroll center center;
}
.footer-social-fb {
	background: url(img/footer-icon-fb.png) no-repeat scroll center center;
}
.footer-social-fb:hover {
	background: url(img/footer-icon-fb-hover.png) no-repeat scroll center center;
}
.footer-social-inst {
	background: url(img/footer-icon-inst.png) no-repeat scroll center center;
}
.footer-social-inst:hover {
	background: url(img/footer-icon-inst-hover.png) no-repeat scroll center center;
}
#footer-social li a {
    width: 20px;
    height: 18px;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease 0s;
}



.buttonup {
width:111px; 
height:111px;
position:fixed;
bottom:20px;
right:50px;
}
.scrollTop {
    display: none;
    z-index: 9999;
   position: fixed;
    bottom: 218px;
    right: 1%;
    width: 111px;
    height: 111px;
    background: url(img/buttonup.png) 0 0 no-repeat;
}




textarea::-webkit-input-placeholder {font-size: 17px;color: #000;}
textarea::-moz-placeholder          {font-size: 17px;color: #000;}/* Firefox 19+ */
textarea:-moz-placeholder           {font-size: 17px;color: #000;}/* Firefox 18- */
textarea:-ms-input-placeholder      {font-size: 17px;color: #000;}



input::-webkit-input-placeholder {color: #000;}
input::-moz-placeholder          {color: #000;}/* Firefox 19+ */
input:-moz-placeholder           {color: #000;}/* Firefox 18- */
input:-ms-input-placeholder      {color: #000;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}

input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


.success-msg {
    width:300px;
}
.success-msg h1 {
    font-size:2.3em;
    font-weight:normal;
    line-height:1em;
}
.success-msg p {
    margin-bottom:12px;
}
.success-msg a {
    color: #231f20;
    text-decoration: none;
    display:inline;
    border-bottom:1px #231f20 dotted;
}
div#fancy_popup_wrap {
    text-align: left;
	display: none;
}
div#fancy_popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    z-index: 30;
	opacity: 0.6;
}
div#fancy_popup_outer {
    position: absolute;
    top: 0;
    left: 0;
	    bottom: 0;
    right: 0;
    z-index: 90;
    padding: 0;
    margin: auto;
	width: 1000px;
    height: 611px;
    overflow: hidden;
    background: transparent;
}
div#fancy_popup_outer_vertical {
    position: absolute;
    top: 0;
    left: 0;
	    bottom: 0;
    right: 0;
    z-index: 90;
    padding: 0;
    margin: auto;
	width: 500px;
    height: 728px;
    overflow: hidden;
    background: transparent;
}
div#fancy_popup_inner {
    position: relative;
    width: 100%;
    height: 100%;
}
#fancy_popup_inner .fancy-popup-slider-next {
    background: url(img/fancy-slider-marker-right.png) 0 0px no-repeat;
    right: 36px;
}
#fancy_popup_inner .fancy-popup-slider-next:hover {
    background: url(img/fancy-slider-marker-right-hover.png) 0 0px no-repeat;
}
#fancy_popup_inner .fancy-popup-slider-prev {
    background: url(img/fancy-slider-marker-left.png) 0 0px no-repeat;
    left: 36px;
}
#fancy_popup_inner .fancy-popup-slider-prev:hover {
    background: url(img/fancy-slider-marker-left-hover.png) 0 0px no-repeat;
}
#fancy_popup_inner .fancy-popup-slider-arrow {
        position: absolute;
    bottom: 30px;
    width: 21px;
    height: 46px;
    border: none;
    padding: 0;
	
}
#fancy_popup_wrap button {
    margin: 0 auto;
    width: 254px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    line-height: 52px;
    text-align: center;
    background: url(img/bg_button.gif) 0 0 repeat-x #ffbc04;
    color: #000;
	z-index: 1000;
	cursor: pointer;
}
div#fancy_popup_close {
    position: absolute;
        top: 22px;
    right: 21px;
    height: 20px;
    width: 20px;
    background: url(img/fancy_closebox.png) top left no-repeat;
    cursor: pointer;
    z-index: 181;
    display: none;
}
div#fancy_popup_close:hover {
    background: url(img/fancy_closebox-hover.png) top left no-repeat;
}
div#fancy_popup_content {
    margin: 0;
    z-index: 100;
}
img#fancy_popup_img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
img {
    vertical-align: text-top;
}
div#fancy_popup_title {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
	height: 106px;
    z-index: 100;
	background:rgba(0,0,0, 0.6);
}
.fancy_popup_price {
    margin: auto;
    width: auto;
    width: 316px;
    display: table;
    text-align: center;
    height: auto;
    vertical-align: middle;
    padding: 16px 0;
}
.fancy_popup_price  p {
    color: #fff;
    font-size: 25px;
    display: block;
    font-family: "ProximaNovaBold", sans-serif;
    line-height: 25px;
}
.fancy_popup_price-content {
    float: left;
    padding-left: 2px;
    margin: 0px 15px;
}


.feedback-form__state .feedback-form-sent,
.feedback-form__state .feedback-form-error {
    display: none;
    opacity: 0;
    transition: opacity 500ms;
}

.feedback-form__state_send .feedback-form-sent,
.feedback-form__state_error .feedback-form-error {
    display: block;
    opacity: 1;
}


.note_hidden {
    display: none;
}


.note_display {
    display: block;
}